.input-field:focus {
  outline: none; /* Remove the default focus outline */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Apply shadow when active */
  border-color: rgb(
    179,
    179,
    179
  ); /* Optional: change border color when focused */
}
