@import "tailwindcss";
@theme {
  /* --font-primary: "Titillium Web"; */
  --font-secondary: "Raleway";
  --font-dance: "Dancing Script";
  /* --font-primary: "Comfortaa"; */
  --font-primary: "Radio Canada Big";
  /* --font-primary: "Nova Slim"; */
  /* --color-primary: #6c48b6; */
  --color-primary: #0b101b;
  --color-secondary: #c9c8b9;
  --color-hover: #2c1457;
  --color-danger: #a071ca;
}
